body {
  padding: 25px;
  /* margin: 1em; */
  font-family: sans-serif;
}


.SSBIIFrame {    
    height: 90vh;
    width: 100%;
    /* max-width: calc(100% -300px); */
    border: none;
}

.ui.vertical.menu {
  width: inherit;
}

.headermenudemo2 {
  min-height: 44px;
}