body {
  padding: 10px;
  font-family: sans-serif;
}


.SSBIIFrame {    
    height: 93vh;
    width: 100%;
    /* max-width: calc(100% -300px); */
    border: none;
}

.ui.vertical.menu {
  width: inherit;
}